<!-- your html code here -->
<div class="container mt-10 col-sm-7">
    <h2 class="display-6"><strong>Contact</strong></h2>
    <p class="fs-6">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    <div class="container mt-5 col-sm-11">
      <form class="bg-secondary p-4" style="--bs-bg-opacity: .1;">
          <div class="form-group row justify-content-end">
              <label for="email" class="col-sm-2 col-form-label text-right"><strong>Your E-mail</strong></label>
              <div class="col-sm-9 mb-2">
                  <input type="email" class="form-control" id="email" placeholder="Your email">
              </div>
          </div>
          <div class="form-group row justify-content-end">
              <label for="message" class="col-sm-2 col-form-label text-right"><strong>Your message</strong></label>
              <div class="col-sm-9 mb-2">
                  <textarea class="form-control" id="message" rows="3" placeholder="Please enter your message here..."></textarea>
              </div>
          </div>
          <div class="form-group row justify-content-end">
              <div class="col-sm-1 mx-4">
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </div>
      </form>
  </div>
</div>